body{
    background-color: #000000;
    background-image: url('../images/ffoto2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
nav ul{
    margin-top: 7%;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    font-size: 100%;
    padding-right: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

header{
    margin-top: 2%;
    margin-right: 7%;
    margin-bottom: 2%;
    margin-left: 7%;
    display: flex;
    justify-content: space-between;
    font-family: 'Fira Sans', sans-serif;
}
form{
    color: #ffffff;
}
h3{
    color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}
footer{
    height: 25%;
    justify-content: space-around;
    height: 100px;
    text-align: center;
}
footer p{
  color: #ffffff;
  font-size:0.8vw
}
footer a{
    color: #ffffff;
}

.form-contacto {
    background-color: #201212;
    padding: 30px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 25px;
    width: 400px;
    font-size: 0.8vw;
}
.form-contacto input{
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    background: #201212;
    border: 1px solid #772828;
}


nav ul li a:hover{
    color: #e93ca1;
}
#navegador{
    list-style:none;
    margin:0;
    padding:0;
}
#navegador ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0;
}
#navegador ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#000000;
    padding:0;
}
#navegador ul ul li {
    float:none;
    width:150px
}
#navegador ul li:hover > ul {
    display:block;
}
#navegador ul ul a {
    line-height:120%;
    padding:10px 15px;
}

header.div.contenedor{
    place-content: flex-start;
}
header.div.contenedor{
    width: 70%;
    display: flex;
    place-content: space-between;
}
#menu, #menu-check{
    display: none;
}
@media screen and (max-width: 480px){
    footer p{
        font-size: 90%;
    }
    h3{
        color: #ffffff;
        font-family: 'Fira Sans', sans-serif;
        text-align: center;
        font-size: 100%;
    }
    .form-contacto {
        font-size: 100%;
    }




    #menu-check:not(:checked) ~ nav{
        display: none;
        
    }
    #menu-check:checked ~ nav{
        display: block;
    }
    
    #menu{
        display: block;
        color: #ffffff;
        font-weight: bold;
        position: absolute;
        right: 0.5em;
        font-size: 2.2em;
        
    }
    #menu-cerrar{
        display: none;
    }
    header div.contenedor nav{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding-top: 0.5em;
        padding-right: 1.5em;
        background-color: #000000;
    }
    header div.contenedor nav ul, header div.contenedor nav ul li{
        display: block;
        text-align: left;
    }
    #navegador ul li:hover > ul {
        display:none;
    }

}