body{
    background-color: #000000;
}
nav ul{
    margin-top: 7%;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    font-size: 1vw;
    padding-right: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}
header{
    margin-top: 2%;
    margin-right: 7%;
    margin-bottom: 2%;
    margin-left: 7%;
    display: flex;
    justify-content: space-between;
    font-family: 'Fira Sans', sans-serif;
}
footer{
    height: 25%;
    justify-content: space-around;
    height: 100px;
    text-align: center;
}
footer p{
  color: #ffffff;
  font-size:0.8vw
}
footer a{
    color: #ffffff;
}
.galeria1{
    display: inline;
    justify-content: space-between;
    margin-left: 25px;
}
.galeria1 img{
    width: 25%;
    padding: 25px;  
}
.galeria2{
    display: inline;
    justify-content: space-between;
    margin-left: 25px;
}
.galeria2 img{
    width: 25%;
    padding: 25px;  
}
nav ul li a:hover{
    color: #e93ca1;
}
#navegador{
    list-style:none;
    margin:0;
    padding:0;
}
#navegador ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0;
}
#navegador ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#000000;
    padding:0;
}
#navegador ul ul li {
    float:none;
    width:150px
}
#navegador ul li:hover > ul {
    display:block;
}
#navegador ul ul a {
    line-height:120%;
    padding:10px 15px;
}