
body{
    background-color: #000000;
    
}
nav ul{
    margin-top: 7%;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    font-size: 100%;
    padding-right: 2rem;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;

}
h1{
    display:block;
    color:#c4b5d1;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    font-size:1.3vw;
}
header{
    margin-top: 2%;
    margin-right: 7%;
    margin-bottom: 2%;
    margin-left: 7%;
    display: flex;
    justify-content: space-between;
    font-family: 'Fira Sans', sans-serif;
}
p{
    color: #c4b5d1;
    font-size:1vw
}
.argumento{
    color: #c4b5d1;
    margin-right: 20%;
    margin-left: 20%;
    font-size: large;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

footer{
    justify-content: space-around;
    height: 100px;
    text-align: center;
}
h3{
    color: #c4b5d1;
    font-family: 'Fira Sans', sans-serif;
    font-size:1.3vw;
}
.contac{
    font-size: 1.5vw;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
}
div a{
    color: #dfd4d4;
}
h3{
    text-align: center;
}
footer{
    height: 25%;
    justify-content: space-around;
    height: 100px;
    text-align: center;
}
footer p{
  color: #ffffff;
  font-size:0.8vw
}
footer a{
    color: #ffffff;
}

nav ul li a:hover{
    color: #e93ca1;
}
.contac a:hover{
    color: #e93ca1;
}
.contac a{
    text-decoration: none;
}

/* PARA EL MENU DESPLEGABLE */
#navegador{
    list-style:none;
    margin:0;
    padding:0;
}
#navegador ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0;
}
#navegador ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#000000;
    padding:0;
}
#navegador ul ul li {
    float:none;
    width:150px
}
#navegador ul li:hover > ul {
    display:block;
}
#navegador ul ul a {
    line-height:120%;
    padding:10px 15px;
}
header.div.contenedor{
    place-content: flex-start;
}
header.div.contenedor{
    width: 70%;
    display: flex;
    place-content: space-between;
}
#menu, #menu-check{
    display: none;
}
@media screen and (max-width: 480px){
    h1{
        font-size: 100%;
    }
    p{
        font-size: 90%;
    }
    footer p{
        font-size: 90%;
    }
    h3{
        font-size: 90%;
    }
    .contac{
        font-size: 90%;
    }
    #menu-check:not(:checked) ~ nav{
        display: none;
        
    }
    #menu-check:checked ~ nav{
        display: block;
    }
    
    #menu{
        display: block;
        color: #ffffff;
        font-weight: bold;
        position: absolute;
        right: 0.5em;
        font-size: 2.2em;
        
    }
    #menu-cerrar{
        display: none;
    }
    header div.contenedor nav{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        padding-top: 0.5em;
        padding-right: 1.5em;
        background-color: #000000;
    }
    header div.contenedor nav ul, header div.contenedor nav ul li{
        display: block;
        text-align: left;
    }
    #navegador ul li:hover > ul {
        display:none;
    }

}